.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    i {
        font-size: 2rem;
        margin: 0 12px;
    }

    .toggle__gallery:hover,
    .toggle__gallery--active {
        color: var(--blue);
    }

    .fa-youtube:hover {
        color: var(--red);
    }
}

/*    UPLOAD MEDIA    */
.upload {
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.upload__content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.upload__url {
    background-color: transparent !important;
    border: 1px solid #2b2d4280 !important;
    border-radius: 5px 0 0 5px !important;
    border-right: none !important;
}

.upload__input-group {
    display: flex;
}

.upload__add {
    border-radius: 0 5px 5px 0 !important;
}

.upload__input {
    display: none;
}

.upload__preview {
    margin-top: 20px;
    flex-grow: 1;
    padding: 5px;
}

.upload__preview-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.upload__preview-item > img {
    height: 100%;
    width: auto;
}

.upload__preview-text {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.upload__open-file {
    margin-right: 20px !important;
}

@import "./style_media.scss";
