$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1600px;

@media screen and (max-width: $sm) {
    .main {
        padding: 0;
        overflow-x: hidden;
    }
    .sidebar__toggle_button {
        display: inline-block;
    }

    .media__gallery--open {
        height: 50%;
    }
}

@media screen and (min-width: $sm) {
    .sidebar {
        clip-path: none !important;
    }
    .sidebar__menu-button {
        display: none;
    }
    .sidebar__menu-item {
        opacity: 1 !important;
    }

    .media__gallery {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .media__gallery--open {
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .page__list-item {
        max-width: calc(100% - 20px);
        flex: 0 0 calc(100% - 20px);
    }
}

@media screen and (min-width: $lg) {
    .page__list-item {
        max-width: calc(33.33% - 20px);
        flex: 0 0 calc(33.33% - 20px);
    }
}

@media screen and (min-width: $xl) {
    .page__list-item {
        max-width: calc(25% - 20px);
        flex: 0 0 calc(25% - 20px);
    }
}

@media (hover: hover) {
    .sidebar__menu-item:hover {
        color: var(--black);
        background-color: var(--beige);
        outline: 0;
    }
}
