$sm: 700px;
$md: 900px;
$lg: 1200px;
$xl: 1600px;

@media screen and (max-width: $sm) {
    .main {
        padding: 0 !important;
        overflow-x: hidden !important;
    }
    .sidebar__toggle_button {
        display: inline-block !important;
    }

    .media__gallery--open {
        height: 50% !important;
    }
}

@media screen and (min-width: $sm) {
    .sidebar {
        clip-path: none !important;
    }
    .sidebar__menu-button {
        display: none !important;
    }
    .sidebar__menu-item {
        opacity: 1 !important;
        transform: none !important;
    }

    .media__gallery {
        display: block !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .media__gallery--open {
        height: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .page__list-item {
        max-width: calc(100% - 20px) !important;
        flex: 0 0 calc(100% - 20px) !important;
    }
}

@media screen and (min-width: $lg) {
    .page__list-item {
        max-width: calc(33.33% - 20px) !important;
        flex: 0 0 calc(33.33% - 20px) !important;
    }
}

@media screen and (min-width: $xl) {
    .page__list-item {
        max-width: calc(25% - 20px) !important;
        flex: 0 0 calc(25% - 20px) !important;
    }
}

@media (hover: hover) {
    .sidebar__menu-item:hover {
        color: var(--black) !important;
        background-color: var(--beige) !important;
        outline: 0 !important;
    }
}
